<!-- Header Section Starts -->

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong>SAI BOREWELLS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav ml-auto" routerLinkActive="active">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="home">Home
              </a>
            </li>
           <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="test">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="quote">Quotation
              </a>
            </li>
          </ul> 
        </div>
      </div>
    </nav>
    <!-- Navbar -->

