<!-- Footer Section Starts -->
<footer class="footer-section">
    <div class="container text-center py-4">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3>Contact Us</h3>
          SAI Borewells, #462, R K Hegde Nagr,
          Nagavara Main Road,
          Bangalore - 77.
        </div>
        <div class="col-12 col-md-4">
          <h3>Connect with us</h3>
          <a class="fa-lg p-2 m-2 fb-ic">
            <i class="fab fa-facebook-f"> </i>
          </a>
          <a class="fa-lg p-2 m-2 tw-ic">
            <i class="fab fa-twitter"> </i>
          </a>
          <a class="fa-lg p-2 m-2 gplus-ic">
            <i class="fab fa-google-plus-g"> </i>
          </a>
          <a class="fa-lg p-2 m-2 li-ic">
            <i class="fab fa-linkedin-in"> </i>
          </a>
          <a class="fa-lg p-2 m-2 ins-ic">
            <i class="fab fa-instagram"> </i>
          </a>
          <a class="fa-lg p-2 m-2 yt-ic">
            <i class="fab fa-youtube"> </i>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <img src="../../assets/images/sai_borewells_logo.png" class="logo img-fluid" alt="" srcset="">
        </div>
      </div>  
    </div>
    <div class="footer-copyright py-3 text-center">
      © 2019 Copyright: <a href="#"><strong> SAI BOREWELLS</strong></a>
    </div>
  </footer>
  <!-- Footer Section Ends -->
