   <!-- Page description section starts -->
   <section class="page-desc-section">
    <div class="card card-image">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div>
        <!-- Content -->
        <h2 class="card-title h2 my-4 py-2">Best borewell drilling contractors in Bangalore.</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Only some contractors have their own drill rig and SAI Borewells is one such drill rig contractors who stood
        for establishing their own drill rigs. With our vast experience in the field, we stood first in the row to
        provide quality and timely services to our customers. We are grateful to say that our position in the industry
        and society is completely a reward given by customers to our great services and we are very much thankful for
        what we have achieved.</p>
        <a class="btn peach-gradient"><i class="fas fa-mobile left"></i> 9444488688</a>
      </div>
    </div>
  </div>
  </section>
  <!-- Page description section Ends -->
  <!-- Marquee - Starts -->
  <marquee behavior="scroll" direction="left">
    <img src="../../assets/images/borewell_rig.png" alt="" class="img-responsive" srcset="">
  </marquee>
  <!-- Marquee - Ends -->
  <!-- Service section starts -->
  <section class="service-section">
    <div class="container text-center">
      <h2 class="py-5 font-weight-bold">What we are doing?</h2>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../assets/images/borewell_Scanning.png" class="img-fluid mb-3" alt="" srcset="">
          <h3>Borewell Scanning</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../assets/images/borewell_drill.png" class="img-fluid mb-3" alt="" srcset="">
          <h3>Borewell Drilling</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../assets/images/pump.png" class="img-fluid mb-3" alt="" srcset="">
          <h3>Pump Installation</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- Service section Ends -->