 <!-- Testimonials Section Starts -->
  <section class="testimonials-section full-page-intro">
    
    <div class="container text-center">
      <h2 class="py-3 font-weight-bold"></h2>
      <h2 class="py-5 font-weight-bold">Testimonials</h2>
      <!-- Grid row -->
      <div class="row mx-1">
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
          <!-- Card -->
          <div class="card testimonial-card">
            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
              <img src="../../assets/images/elan1.jpg" class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
              <!-- Name -->
              <h4 class="card-title">Elanchezhiyan</h4>
              <hr>
              <!-- Quotation -->
              <p><i class="fas fa-quote-left"></i> Soil testing was amazing. They used right latest technique and results were predicted accurately.</p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">
          <!-- Card -->
          <div class="card testimonial-card" >
            <!-- Background color -->
            <div class="card-up aqua-gradient"></div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
              <img src="../../assets/images/preethika.jpg" class="rounded-circle img-responsive" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
              <!-- Name -->
              <h4 class="card-title">Preethika</h4>
              <hr>
              <!-- Quotation -->
              <p><i class="fas fa-quote-left"></i> It’s a great experience till the end. Workmanship is admirable. Thanks!!</p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">
          <!-- Card -->
          <div class="card testimonial-card" >
            <!-- Background color -->
            <div class="card-up purple-gradient"></div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
              <img src="../../assets/images/tharun.jpg" class="rounded-circle img-responsive" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
              <!-- Name -->
              <h4 class="card-title">Tharun</h4>
              <hr>
              <!-- Quotation -->
              <p><i class="fas fa-quote-left"></i> Direct contact with the expert’s team was advantage and it really helped us to understand the process.</p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Testimonials Section Ends -->