  <!-- Marquee - Starts -->
  <marquee class="service-marquee" behavior="scroll" direction="left">
    <img src="../../assets/images/borewell_rig.png" alt="" class="img-responsive" srcset="">
  </marquee>
  <!-- Marquee - Ends -->
 
  <!-- <hr class="mt-4 mb-5"> -->
  <!-- Services Description Section Starts -->
  <section class="service-desc-section">
    <div class="container">
      <!--Section heading-->
      <h2 class="py-5 font-weight-bold text-center">We Provide Best Borewell Service In Bangalore!</h2>
      <!--Section description-->
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-4">
          <!--Grid row-->
          <div class="row mb-4">
            <div class="col-4">
              <img src="../../assets/images/04.png" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-8 text-left">
              <h5 class="font-weight-bold">Borewell Drilling</h5>
              <p class="grey-text">India being an agrarian country, our farmers depend mainly on groundwater for irrigation.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-4">
            <div class="col-4">
                <img src="../../assets/images/05.png" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-8 text-left">
              <h5 class="font-weight-bold">Tubewell Drilling</h5>
              <p class="grey-text">Our firm is involved in providing qualitative Tubewell Drilling service to our prestigious clients.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-4">
            <div class="col-4">
                <img src="../../assets/images/06.png" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-8 text-left">
              <h5 class="font-weight-bold">Flushing/Cleaning</h5>
              <p class="grey-text">We are one of the leading manufacturers of PRECISION cleaning systems, including flushing cleaners.</p>
            </div>
          </div>
          <!--Grid row-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 center-on-small-only flex-center">
          <img src="../../assets/images/borewell_drill.png" alt="" class="img-responsive z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <!--Grid row-->
          <div class="row mb-4">
            <div class="col-4">
                <img src="../../assets/images/07.png" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-8 text-left">
              <h5 class="font-weight-bold">Compressor Drilling</h5>
              <p class="grey-text">Our expertise also lies in providing our clients with a wide range of high performance Drill Air Compressors.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-4">
            <div class="col-4">
                <img src="../../assets/images/08.png" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-8 text-left">
              <h5 class="font-weight-bold">Calix/Rotary Drilling</h5>
              <p class="grey-text">Rotary drilling is characterized as a method of drilling employs rotational drill bit to bite crust.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-4">
            <div class="col-4">
                <img src="../../assets/images/09.png" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-8 text-left">
              <h5 class="font-weight-bold">Reboring Machine</h5>
              <p class="grey-text">Boring is the process of enlarging a already been drilled by single-point cutting of a boring head containing.</p>
            </div>
          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </section>
  <!-- Service Description Section Ends -->
 <!-- Special Section Starts -->
 <section class="special-section">
  <div class="container">
    <!--Section heading-->
    <h2 class="py-5 font-weight-bold text-center">Why is it so great?</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">The speciality of SAI BOREWELLS is that, the right from the beginning, it has started drilling operations by the slow rig, clayx rig to the latest Super Fast High Pressure Hydraulic Drilling Rigs both on surface andin well by 4 ½ ", 6 ½ " and 10" borewells</p>
    <!--Grid row-->
    <div class="row pt-2">

      <!--Grid column-->
      <div class="col-lg-5 center-on-small-only">
        <img src="../../assets/images/lorry_1.png" alt="" class="img-fluid img-responsive z-depth-0">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5>
            <p class="grey-text text-left">Our vast and deep expertise, latest technology and equipments make us the number one choice among the customers.</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
            <p class="grey-text text-left">We use cutting edge technology and latest equipment to provide best and superior quality to our customers.</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Cost</h5>
            <p class="grey-text text-left">We know the value of money and time thus we provide the best solutions which suit our customer’s budget.</p>
          </div>
        </div>
        <!--Grid row-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</section>
<!-- Special Section Ends -->
